.left_menu {
    width: 24%;
    background-color: #041b26;
    height: 675px;
    position: fixed;
}

.menu_btn{
    background: bottom;
    width: 100%;
    text-align: left;
    padding: 10px;
    border: none;
    color: white;
}

.menu_btn_footer{
    background: bottom;
    width: 100%;
    text-align: left;
    padding: 5px;
    border: none;
    color: white;
}

.bottom{
    margin-top: 98%;
    cursor: pointer;
}
.user{
    left: 75%;
    position: relative;
    color: white;
}
.MuiSvgIcon-root {
    fill: currentColor;

    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 1.5rem;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    flex-shrink: 0;
    user-select: none;
    position: relative;
    margin-left: 77%;
    top: 5px;
    color: white;
}

.MuiSvgIcon-root {
    fill: currentColor;

    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 1.5rem;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    flex-shrink: 0;
    user-select: none;
    position: relative;
    margin-left: 7%;
    top: 5px;
    color: rgba(0, 0, 0, 0.79);
}

.table{
    margin-left: 340px;
}

.topbar {
    width: 97%;
}

.makeStyles-searchIcon-15 {
    width: 30px;
    top: -4% !important;

    height: 100%;
    display: flex;
    position: absolute;
    align-items: center;
    pointer-events: none;
    justify-content: center;
}


.addicon{
    right: 50px;
    top: 14px;
    position: absolute;

}

.tableicon {
    width: 7px;
    left: -10%;
    height: 100% ;
    position: relative;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.MuiTableCell-root {
    display: table-cell;
    /* padding: 16px; */
    font-size: 0.875rem;
    text-align: left;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.43;
    border-bottom: 1px solid rgba(224, 224, 224, 1);
    letter-spacing: 0.01071em;
    vertical-align: inherit;
}

.MuiIconButton-label {
    /*width: -129%;*/
    /* display: flex; */
    position: absolute;
}

.MuiAppBar-colorPrimary {
    color: #fff;
    background-color: #0a3144 !important;
}


.piechartOverview{
    position: relative;
}

.WithStyles\(ForwardRef\(TableCell\)\)-head-231 {
    color: #fff;
    background-color: rgba(5, 45, 64, 0.96) !important;
/*background-color: rgb(51, 153, 197) !important;*/
}


/*.MuiGrid-container {*/
    /*width: 100%;*/
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    /*box-sizing: border-box;*/
    /*position: relative;*/
    /*margin-left: 30%;*/
/*}*/


.MuiFormControl-root {
    border: 0;
    /*margin: 1% !important;*/
    display: inline-flex;
    padding: 0px;
    position: relative;
    min-width: 0;
    flex-direction: column;
    vertical-align: top;
}

.sidebar {
    max-width: 25% !important;
    max-height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
}




.userIcon {
    fill: currentColor;

    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 1.5rem;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    flex-shrink: 0;
    user-select: none;
    position: relative;
    margin-left: 77%;
    top: 5px;
    color: white !important;
}

.add {
    fill: currentColor;

    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 1.5rem;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    flex-shrink: 0;
    user-select: none;
    position: relative;
    margin-left: 77%;
    top: 5px;
    color: white !important;
}

.search {
    fill: currentColor;

    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 1.5rem;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    flex-shrink: 0;
    user-select: none;
    position: relative;
    margin-left: 77%;
    top: 5%;
    color: white !important;
}


.user2{
    right: 75% !important;
}

.bottom2{
    margin-top: 100%;
    cursor: pointer;
    position: relative;
}
.middle{
    margin-top: 2%;
    position: relative;
}
