.left_menu {
    width: 18%;
    /*background-color: rgba(5, 45, 64, 0.96) !important;*/
    background-image: linear-gradient(#1724a9d1 , #040313);
    height: 100%;
    position: fixed;
    overflow-x: hidden;
}

.menu_btn{
    background: bottom;
    width: 100%;
    text-align: left;
    padding: 10px;
    border: none;
    color: #bbb2b2;

}


.menu_btn_settings{
    background: bottom;
    width: 100%;
    text-align: left;
    padding: 0%;
    border: none;
    color: white;
    margin-left:3% !important;
    inline-size: max-content;
}

.menu_btn_logout{
    background: bottom;
    width: 100%;
    text-align: left;
    padding: 0%;
    border: none;
    color: white;
    inline-size: max-content;
    left:50%;
position: relative;
}
.aaa{
    position: relative;
}
.bottom{
    margin-top: 100%;
    cursor: pointer;
}
.top{
    height: 10%;

}
.user{
    right: -75%;
    position: relative;
    color: white;
}
.MuiSvgIcon-root {
    fill: currentColor;

    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 1.5rem;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    flex-shrink: 0;
    user-select: none;
    position: relative;
    margin-left: 77%;
    top: 5px;
    color: white;
}

.MuiSvgIcon-root {
    fill: currentColor;

    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 1.5rem;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    flex-shrink: 0;
    user-select: none;
    position: relative;
    margin-left: 7%;
    top: 5px;
    color: rgba(0, 0, 0, 0.79);
}

.table{
    margin-left: 27%;


}

.topbar {
    width: 97%;

}

.makeStyles-searchIcon-15 {
    width: 30px;
    top: -4% !important;

    height: 100%;
    display: flex;
    position: absolute;
    align-items: center;
    pointer-events: none;
    justify-content: center;
}


.addicon{
    right: 50px !important;
    top: 14px !important;
    position: absolute !important;

}

.tableicon {
    width: 7px;
    left: -10%;
    height: 100% ;
    position: relative;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.MuiTableCell-root {
    display: table-cell;
    /* padding: 16px; */
    font-size: 0.875rem;
    text-align: left;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.43;
    border-bottom: 1px solid rgba(224, 224, 224, 1);
    letter-spacing: 0.01071em;
    vertical-align: inherit;
}

.MuiIconButton-label {
    /*width: -129%;*/
    /* display: flex; */
    position: absolute;
}

.MuiAppBar-colorPrimary {
    color: #f89600;
    /*background-color: rgba(5, 45, 64, 0.96) !important;*/
}


.piechartOverview{
    position: relative;
}


/*.WithStyles\(ForwardRef\(TableCell\)\)-head-495 {*/
    /*color: #fff;*/
    /*background-color: rgba(5, 45, 64, 0.96) !important;*/
/*!*background-color: rgb(51, 153, 197) !important;*!*/
/*}*/


/*.MuiGrid-container {*/
    /*width: 100%;*/
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    /*box-sizing: border-box;*/
    /*position: relative;*/
    /*margin-left: 30%;*/
/*}*/


.MuiFormControl-root {
    border: 0;
    /*margin: 1% !important;*/
    display: inline-flex;
    padding: 0px;
    position: relative;
    min-width: 0;
    flex-direction: column;
    vertical-align: top;
}

.sidebar {
    max-width: 25% !important;
    max-height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
}




.userIcon {
    fill: currentColor;

    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 1.5rem;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    flex-shrink: 0;
    user-select: none;
    position: relative;
    margin-left: 77%;
    top: 5px;
    color: white !important;
}

.add {
    fill: currentColor;

    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 1.5rem;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    flex-shrink: 0;
    user-select: none;
    position: relative;
    margin-left: 77%;
    top: 5px;
    color: white !important;



}

.noOfUserIcon{
    fill: currentColor;

    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 1.5rem;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    flex-shrink: 0;
    user-select: none;
    position: relative;
    margin-left: 7%;
    top: 5px;
    color: rgb(255, 255, 255);
}

.search {
    fill: currentColor;

    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 1.5rem;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    flex-shrink: 0;
    user-select: none;
    position: relative;
    margin-left: 77%;
    top: 5%;
    /*color: white !important;*/
}

.MuiInput-root {
    position: relative;
    width: 60%;
}


.user2{
    right: 75% !important;
}

.bottom2{
    margin-top: 92%;
    cursor: pointer;
    position: relative;
}
.middle{
    margin-top: 2%;
    position: relative;
    max-height: 38%;
    height: inherit;
}

.logoutBtn{
    fill: currentColor;

    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 1.5rem;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    /*flex-shrink: 10;*/
    /*user-select: none;*/
    position: relative;
    margin-left: 7%;
/*margin-top: -2%;*/
    color: white;
    top: 20%;
}
.settingsBtn{
    fill: currentColor;

    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 1.5rem;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    /*flex-shrink: 10;*/
    /*user-select: none;*/
    position: relative;
    margin-left: 7%;
    /*margin-top: -2%;*/
    color: white;
    top: 20%;
}


.middle button:hover {
    background-color: rgba(5, 87, 122, 0.9);
}


.middle button:focus  {
    color: #fff;
    background-color: rgba(43, 62, 70, 0.04);
    border-left: 6px solid #ffffff;
    border-bottom: 1px solid  #00afb8;
    border-top: 1px solid  #00afb8;
    border-right: 1px solid  #00afb8;
    /*border-bottom-left-radius: 30px;*/
    /*border-bottom-right-radius: 30px;*/
    /*border-top-left-radius: 30px;*/

}




.tooltip {
    position: relative;
    /* display: inline-block; */
    /* border-bottom: 1px dotted black; */
    border-bottom: 1px solid #0000001f;

}

.tooltip .tooltiptext {
    visibility: hidden;
    /*width: 120px;*/
    /*background-color: #000000;*/
    color: #fff;
    border-radius: 20%;
    position: relative;
    left: 70%;

}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.rotate {
    -moz-transition: all .5s linear;
    -webkit-transition: all .5s linear;
    transition: all .5s linear;
}

.mmmm{
    font: inherit !important;
    color: currentColor !important;
    width: 100% !important;
    border: 0 !important;
    height: 1.1875em !important;
    margin: 0 !important;
    display: block !important;
    padding: 0% 0 0% !important;
    min-width: 0 !important;
    background: none !important;
    box-sizing: content-box !important;
    animation-name: MuiInputBase-keyframes-auto-fill-cancel !important;
    -webkit-tap-highlight-color: transparent !important;
}

.dialogclass {
    max-width: 600px;

    left: 80% !important;
    top: -60% !important;

}
.MuiSwitch-switchBase {
    top: 9px !important;
    left: 10px !important;
    color: #000000 !important;
    /* z-index: 34; */
    position: absolute !important;
    transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.zzz{
    x: 517 !important;
    y: 77 !important;
    width: 104px !important;
    height: 28px !important;
    stroke: none;
    stroke-width: 0;
    fill-opacity: 0;
    fill: rgb(255, 255, 255);
}

/**/
/**/
/**/
/**/
/**/
/**/
/*!**/
/**!*/
/*!**/
/**!*/
/*!**/
/**!*/
/*!**/
/**!*/
/*
*/







