.left_menu {
    width: 300px;
    background-color: #041b26;
    height: 675px;
    position: fixed;
}

.menu_btn{
    background: bottom;
    width: 100%;
    text-align: left;
    padding: 10px;
    border: none;
    color: white;
}

.menu_btn_footer{
    background: bottom;
    width: 100%;
    text-align: left;
    padding: 5px;
    border: none;
    color: white;
}

.bottom{
    margin-top: 300px;
    cursor: pointer;
}
.user{
    left: 226px;
    position: relative;
    color: white;
}
.MuiSvgIcon-root {
    fill: currentColor;

    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 1.5rem;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    flex-shrink: 0;
    user-select: none;
    position: relative;
    margin-left: 76%;
    top: 5px;
    color: white;
}

.table{
    margin-left: 340px;
}

.topbar {
    width: 933px;
}

.makeStyles-searchIcon-15 {
    width: 30px;
    top: -4px;

    height: 100%;
    display: flex;
    position: absolute;
    align-items: center;
    pointer-events: none;
    justify-content: center;
}


.addicon{
    right: 50px;
    top: 14px;
    position: absolute;
}

.tableicon {
    width: 7px;
    left: -10%;
    height: 100% ;
    position: relative;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.MuiTableCell-root {
    display: table-cell;
    /* padding: 16px; */
    font-size: 0.875rem;
    text-align: left;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.43;
    border-bottom: 1px solid rgba(224, 224, 224, 1);
    letter-spacing: 0.01071em;
    vertical-align: inherit;
}

.MuiIconButton-label {
    /*width: -129%;*/
    /* display: flex; */
    position: absolute;
}

